/* global style */

section {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

footer {
  padding: 20px;
  padding-top: 20px;
  text-align: center;
  background: #ddd;
}

img {
  border-radius: 50%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.phone {
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.phone:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.phone:visited {
  color: rgb(255, 0, 217);
}

.email {
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.email:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.email:visited {
  color: rgb(255, 0, 217);
}

.github {
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.github:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.github:visited {
  color: rgb(255, 0, 217);
}
h1 {
  text-align: center;
  font-size: 2.5em;
}

h2 {
  background-color: rgb(67, 19, 126);
  color: #ddd;
  padding: 10px;
}

h3 {
  font-weight: bolder;
  text-align: justify;
}

h5 {
  text-align: center;
  font-size: 1.5em;
}

ul {
  border-bottom: 3px solid rgb(117, 99, 138);
  padding-bottom: 10px;
}

.flex-container {
  display: flex;
  gap: 10px;
  margin: 0 0 20px 0;
  padding: 0em;
  flex-wrap: wrap;
}

.first-item {
  background-color: rgb(155, 93, 232);
  padding: 20px;
  flex: 1;
  flex-wrap: wrap;
}

.second-item {
  background-color: rgb(214, 192, 240);
  padding: 20px;
  flex: 3;
  flex-wrap: wrap;
}

/* small screen - phone */
@media screen and (min-width: 600px) and (max-width: 599.98px) {
  .first-item {
    flex: 1 1 100%;
  }
  .second-item {
    flex: 1 1 100%;
  }
  .flex-container {
    display: flex;
    gap: 10px;
    margin: 0 0 20px 0;
    padding: 0em;
    flex-wrap: wrap;
  }
}

/* medium screen - tablet */
@media screen and (min-width: 960px) and (max-width: 959.98px) {
  .flex-container {
    display: flex;
    gap: 10px;
    margin: 0 0 20px 0;
    padding: 0em;
    flex-wrap: wrap;
  }
  .first-item {
    flex: 1 1 30%;
  }
  .second-item {
    flex: 1 1 70%;
  }
}

/* large screen - laptop/desktop */
@media screen and (min-width: 1280px) and (max-width: 1279.98px) {
  .flex-container {
    display: flex;
    gap: 10px;
    margin: 0 0 20px 0;
    padding: 0em;
    flex-wrap: wrap;
  }
  .first-item {
    flex: 1 1 30%;
  }
  .second-item {
    flex: 1 1 70%;
  }
}
